<div id="welcome" class="welcome-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h4>Somos Ikoots</h4>
            <h2>Bienvenido a <span>CRMG</span></h2>
            <p></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-wifi"></i>
                    </div>
                    <h3 class="mb-1">Internet</h3>
                    <h3 class="mt-1">Residencial</h3>
                    <p></p>
                    <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-mobile"></i>
                    </div>
                    <h3 class="mb-1">Venta de</h3>
                    <h3 class="mt-1">Fichas</h3>
                    <p></p>
                    <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-laptop"></i>
                    </div>
                    <h3 class="mb-1">Servicio</h3>
                    <h3 class="mt-1">Técnico</h3>
                    <!-- <p>Lorem ipsum dolor sit amet sit ipsum, consectet adipiscing elit consectetur, ipsum dolor sed do eiusmod tempor.</p> -->
                    <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <!-- <i class="fa-sharp fa-solid fa-camera-cctv"></i> -->
                        <i class="fas fa-shield-halved"></i>
                        <!-- <i class="fas fa-camera-cctv"></i> -->
                        <!-- <i class="fas fa-camera-cctv"></i> -->
                        <!-- <i class="far fa-life-ring"></i> -->
                    </div>
                    <!-- <h3 class="mb-1">Instalación</h3>
                    <h3 class="mb-1">Seguridad</h3> -->
                    <h3 class="mb-1">Camaras de</h3>
                    <h3 class="mt-1">Seguridad</h3>
                    <p></p>
                    <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
                <!-- <div class="single-box">
                    <div class="icon">
                        <i class="far fa-life-ring"></i>
                    </div>
                    <h3 class="mb-1">Instalación de Cámaras</h3>
                    <h3 class="mb-1">de Seguridad</h3>
                    <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape1.png" alt="image"></div>
</div>