<div id="about" class="about-area ptb-100">
    <div class="container">
        <div class="section-title">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="">
                        <h4>Somos Ikoots</h4>
                        <h2>Acerca de <span>CRMG</span></h2>
                        <p></p>
            
                        <p>Buscamos la excelencia en la provisión de acceso a Internet al pueblo Ikoots, a través del uso de la mejor tecnología disponible, ofreciendo planes de precios competitivos y opciones de velocidad de conexión para satisfacer las necesidades de los usuarios.</p>
                    </div>
                    
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-video">
                        <img src="assets/images/slides/crmg-5.jpg">
                        <div class="video-btn">
                            <button class="popup-youtube"><i class="fas fa-play"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="video-popup">
    <!-- <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/WQ119jAN4Xo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal> -->
</div>