<div id="pricing" class="pricing-area pt-100 pb-70 bg-F7F5F4">
    <div class="container">
        <div class="section-title">
            <h2>Nuestros <span>Precios</span></h2>
            <p>Internet para todos. Ofrecemos planes de precios competitivos para satisfacer tus necesidades.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title">Básico</h3>
                    <div class="price-value">
                        <span class="currency">$</span>
                        <span class="amount">300.00</span>
                        <span class="month">/al mes</span>
                    </div>
                    <ul class="pricing-content">
                        <li><i class="fas fa-check"></i> # MB</li>
                        <!-- <li><i class="fas fa-check"></i> 10 GB Hosting</li>
                        <li><i class="fas fa-check"></i> 2 Unique Users</li>
                        <li><i class="fas fa-check"></i> 12 GB Capacity</li>
                        <li><i class="fas fa-check"></i> Weekly Backups</li> -->
                        <li><i class="fas fa-check"></i> Soporte 24 horas</li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">Contrata</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title">Profesional</h3>
                    <div class="price-value">
                        <span class="currency">$</span>
                        <span class="amount">400.00</span>
                        <span class="month">/al mes</span>
                    </div>
                    <ul class="pricing-content">
                        <li><i class="fas fa-check"></i> # MB</li>
                        <!-- <li><i class="fas fa-check"></i> 10 GB Hosting</li>
                        <li><i class="fas fa-check"></i> 2 Unique Users</li>
                        <li><i class="fas fa-check"></i> 12 GB Capacity</li>
                        <li><i class="fas fa-check"></i> Weekly Backups</li> -->
                        <li><i class="fas fa-check"></i> Soporte 24 horas</li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">Contrata</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title">Empresarial</h3>
                    <div class="price-value">
                        <span class="currency">$</span>
                        <span class="amount">600.00</span>
                        <span class="month">/al mes</span>
                    </div>
                    <ul class="pricing-content">
                        <li><i class="fas fa-check"></i> # MB</li>
                        <!-- <li><i class="fas fa-check"></i> 10 GB Hosting</li>
                        <li><i class="fas fa-check"></i> 2 Unique Users</li>
                        <li><i class="fas fa-check"></i> 12 GB Capacity</li>
                        <li><i class="fas fa-check"></i> Weekly Backups</li> -->
                        <li><i class="fas fa-check"></i> Soporte 24 horas</li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">Contrata</a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
</div>