.container {
    inset: 0px!important;
    position: absolute!important;
}
.container-wrapper {
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem !important;
}
.container-image {
    width: 100%;
}

.subtitle-alert {
    font-size: 1rem!important;
}